body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row label {
  font-size: 11px;
  font-weight: 500;
}

.filter_div {
  float: right;
}

.table-header {
  font-weight: 700;
}

.row {
  --bs-gutter-x: 0.2rem !important;
}

.excel-download {
  background-color: rgb(255 255 255) !important;
  border-color: #e1dcdc !important;
}

.excel-btn {
  color: black !important;
}

.poc-table {
  font-size: 11px;
}

input,
textarea,
select {
  font-size: 11px !important;
}

.custom-input {
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  font-size: 12px !important;
}

table>tbody {
  text-align: initial;
}

.edit-input {
  width: 100%;
  padding: 15px 5px;
}

.edit-input:hover {
  background-color: hsl(240, 100%, 90);
  cursor: pointer;
}

.custom-button,.custom-button-save,.custom-button-delete {
  border: 0px;
  background-color: white;
  padding: 2px;
}

.custom-button-delete {
 color: red;
}

.custom-button:hover {
  box-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
  color: #0202c6;
}

.custom-button-save:hover {
  box-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
  color: #0b9656;
}

.custom-button-delete:hover {
  box-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
  color: red;
}